*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.15s;
}

.content{
  padding: 10px 100px 10px 100px;
  display: flex;
  justify-content: space-between;
  /* align-items: ; */
}

.content img{
  width: 120px;
  border-radius: 100px;
}

.img img:hover{
  transform: scale(1.1);
  opacity: 0;
}

.bhos{
  display: flex;
  flex-direction: column;
}

.text{
  display: none;
  position: absolute;
  top: 40px;
  padding: 17px;
}
.img img:hover + .text{
  display: block;
}