*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    align-items: center;
    background-color: black;
    height: 50px;
}


ul{
    display: flex;
    list-style: none;
    align-items: center;
    /* padding: 20px; */
}

ul li a{
    text-decoration: none;
    color: white;
    margin: 0 8px 0 8px;
    /* padding: 10px;    */
}

.content{
    background-color: cadetblue;
    padding: 10px;
    text-align: center;
}

img{
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: none;
}

.news-content{
    display: none;
}