*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(71 85 105);
}

.container{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* @media screen and (max-width:1000px) {
    
} */