/* Contact.css */
.contact-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(71 85 105);
    border: 1px solid rgb(71 85 105);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .contact-container h1 {
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(71 85 105);
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .success-message {
    color: #4CAF50;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }