@media screen and (max-width:2000px) {
    .container-2{
        display: none;
    }    
}

@media screen and (max-width:800px) {
    .container-1{
        display: none;
    }    
    .container-2{
        display: block;
    }
}

